* {
	font-family: 'Gabarito', sans-serif;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 3rem;
}

.text-gray {
	background-color: #424949;
}


html {
	scroll-behavior: smooth;
}

.profile-intro {
	font-size: 1.2rem;
}

.about-me	{
	color: white;
	text-align: center;
	font-size: 18px;
}

form {
	width: 200px; 
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}

footer {
	letter-spacing: 2px;
	font-size: 18px;
}